<header>
  <h3><%=t('user.edit.title') %></h3>
</header>
<div class="widget-body">
  <%= render 'form', user: @user %>

  <%= link_to t('auth.edit.back'), profile_path, class: "btn btn-secondary btn-sm"%>
</div>
