<header>
  <h3><%=t('user.new.title') %></h3>
</header>
<div class="widget-body">

<%= render 'form', user: @user %>
<%= link_to 'Back', users_path, class: "btn btn-secondary btn-sm mt-sm" %>

</div>
