<header>
  <h3><%=t('user.new.title') %></h3>
</header>
<div class="widget-body">
  <%= render 'form', user: @user %>

  <%= link_to t('common.back'), root_url, class: "btn btn-secondary btn-sm"%>
</div>
