<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', events_path, class: "btn btn-inverse mb-md" %>
  </div>
</div>
<div class="row row-eq-height">
  <div class="col-lg-3">
    <%= render 'widget', event: @event %>
  </div>
</div>
